<div class="header">
   
    <!-- <div style="float: left;">Checkout</div>
    <div style="float: left;margin-left: 10px;">Wishlist</div> -->
     <div style="width: 100%;">Customer Orders</div>
     <div class="header-right">
         
         <!-- <img src="assets/icons8-customer-100.png"class="menuicons" title="User"/>
         <img src="assets/icons8-shopping-cart-100.png"class="menuicons" title="Cart"/> -->
     </div>
   </div>
 <style>
     .header {
   overflow: hidden;
   background-color: black;
   color: aliceblue;
   text-align: center;
   height: 15px;
   display: flex;
   padding: 20px 10px;
 }
 .menuicons{
 margin-top: -3px;
 margin-left: 10px;
 width: 25px;
 height: 25px;
 }
 .header a {
   float: left;
   color: white;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
 }
 
 .header a.logo {
   font-size: 25px;
   font-weight: bold;
 }
 
 .header a:hover {
   background-color: black;
   color: whitesmoke;
 }
 
 .header a.active {
   background-color: dodgerblue;
   color: white;
 }
 
 .header-right {
   float: right;
 }
 
 @media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }
   
   .header-right {
     float: none;
   }
 }
 </style>